{% extends 'baseTemplate.html' %}

{% block content %}
<div>
    {% if messages %}
        <div style="text-align: center">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div style="text-align: center">
        <p> In this episode of college I passed an useful course aboute information technology<br>
            My dear teacher was <a href="http://nekoo.ir" target="_blank"> <b> Dr Hashemi nekoo </b> </a> .<br>
            I wrote summary of all of things that I learned from this course, and you can see that via this links:
        </p>
        <div>
            <form action="{% url "payment:index" %}" method="post">
                {% csrf_token %}
                <input type="submit" value="summary(payment required)">
            </form>

            <form action="{% url 'payment:free_pdf' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="summary of this summary!(Free)">
            </form>
        </div>

    </div>
</div>
{% endblock %}


