{% extends 'baseTemplate.html' %}


{% load static from staticfiles %}

{% block aboutMeTitle %}
    <div style="text-align: center; margin-top: 3%;">
        <h1> About Me </h1>
        <p style="color: dimgrey;"> Here are some things that you should know about me. </p>
    </div>
{% endblock %}

{% block content %}
        <p style="font-size: 150vw;"><img src="{% static 'myPic2.jpg' %}" class="myImg" alt="Ali khoshtinat pic">
            <p style="padding-right: 10%; padding-left: 20px;">
                Hi guys :) <br>
                Im <b> Ali khoshtinat </b>.  I was born in Gorgan and then I moved to Tehran,
                Now I study <b> computer enginneering </b> at the <b>University of Tehran</b>. <br>
                I love to code and create useful things for people. <br>
                I also love software design and between technologies I love backend development. <br>
                In my spare time I like to travel and watch movie and gain new skills!
            </p>
            <p style="padding-right: 10%; padding-left: 20px;"> In this episode of collage I passed an useful course aboute <b> IT </b>. <br>
                And I provide a summary of it, to watch that click this link.
            </p>
            <a href="{% url 'payment:index' %}"> Read About <b> IT </b> </a>
        </p>
{% endblock %}
